<!DOCTYPE html>
<html>
<head>
    <title>Complaint Management System</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Complaint Management System</h1>
        <h2>Select Your Role</h2>

        <div class="buttons">
            <a href="/user_register">
    <button class="btn user-btn">Login as User</button>
</a>
            <a href="/admin_login">
    <button class="btn admin-btn">Login as Admin</button>
</a>

        </div>
    </div>

</body>
</html>
