<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <a href="/user_login" class="back-btn">←</a>

    <div class="container2">
        <h1>Welcome User</h1>

        <div class="buttons">
            <a href="/add_complaint">
                <button class="btn user-btn">Submit Complaint</button>
            </a>

            <a href="/track_complaint">
                <button class="btn admin-btn">Track Complaint</button>
            </a>
            <a href="/logout">
                <button class="btn logout-btn">Logout</button>
            </a>
        </div>
    </div>

</body>
</html>
